.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  &__form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    @media (max-width: $res-tablet) {
      margin-bottom: 10px;
    }
    &:last-of-type {
      margin-bottom: 40px;
      @media (max-width: $res-tablet) {
        margin-bottom: 20px;
      }
    }
  }
  &__form-group-label {
    font-size: $fs-m;
    color: $tc-primary;
    display: flex;
    margin-bottom: 20px;
    @media (max-width: $res-tablet) {
      margin-bottom: 5px;
    }
  }
  &__form-group-label-required {
    margin-left: 3px;
    margin-top: -3px;
    font-size: $fs-m;
    opacity: .5;
  }
  &__form-group-input,
  &__form-group-textarea {
    background-color: #4A5355;
    border: 0;
    height: 56px;
    font-size: $fs-l;
    padding-left: 8px;
    color: $tc-primary;
    &:focus {
      @include focus;
      color: $c-secondary;
    }
  }
  &__form-group-input {
    @media (max-width: $res-tablet) {
      height: 50px;
      width: 100%;
    }
  }
  &__form-group-textarea {
    padding-top: 8px;
    height: 280px;
    resize: vertical;
    @media (max-width: $res-tablet) {
      height: 250px;
      width: 100%;
    }
  }
  &__button {
    width: 185px;
    @media (max-width: $res-tablet) {
      width: 100%;
      height: 50px;
    }
  }
}
