.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  &__form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    &:last-of-type {
      margin-bottom: 40px;
    }
  }
  &__form-group-label {
    font-size: $fs-m;
    color: $tc-primary;
    display: flex;
    margin-bottom: 20px;
  }
  &__form-group-label-required {
    margin-left: 3px;
    margin-top: -3px;
    font-size: $fs-m;
    opacity: .5;
  }
  &__form-group-input,
  &__form-group-textarea {
    background-color: #4A5355;
    border: 0;
    height: 56px;
    font-size: $fs-l;
    padding-left: 8px;
    color: $tc-primary;
  }
  &__form-group-input {
  }
  &__form-group-textarea {
    padding-top: 8px;
    height: 280px;
    resize: vertical;
  }
  &__button {
    width: 185px;
  }
}
