.education-items {
  &__item {
    &:not(:last-child) {
      margin-bottom: 65px;
    }
  }
  &__item-title {
    font-size: $fs-l;
    color: $tc-01;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  &__item-source {
    display: flex;
    margin-bottom: 15px;
  }
  &__item-source-link,
  &__item-source-separator,
  &__item-source-date {
    font-size: $fs-m;
    color: $tc-01;
  }
  &__item-source-link {
    font-weight: 700;
    &:hover {
      text-decoration: underline;
    }
    &:focus {
      @include focus;
    }
  }
  &__item-source-separator {
    margin-left: 6px;
    margin-right: 6px;
  }
  &__item-source-date {
    color: $tc-01;

  }
  &__item-important {
    height: 30px;
    width: 70px;
    background-color: $c-primary;
    font-size: $fs-s;
    font-weight: 700;
    color: $tc-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2px;
    margin-bottom: 30px;
  }
  &__item-separator {
    background-color: #CBCBCB;
    height: 1px;
    margin-bottom: 25px;
  }
  &__item-text {
    font-size: $fs-m;
    line-height: 30px;
    color: $tc-01;
  }
  &__item-text-paragraph {

  }
}
