.section-header {
  margin-top: -70px;
  background-color: $sc-03;
  width: 100%;
  z-index: 999;
  &--active {
    position: fixed;
    top: 0;
    margin-top: 0;
  }
  &__inner {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    height: 100%;
  }
  &__nav {
    width: 66%;
    height: 100%;
  }
}
