.section-about-items {
  background-color: $sc-01;
  &__inner {
    height: 345px;
    @include container;
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
  &__list-item {
    width: 32%;
  }
  &__list-title {
    font-size: $fs-xl;
    color: $tc-01;
    text-transform: uppercase;
    margin-bottom: 35px;
  }
  &__list-text {
    font-size: $fs-m;
    color: $tc-01;
    line-height: 30px;
  }
}
