.skills-progress {
  &__item {
  }
  &__item-title {
    color: $tc-01;
    font-size: $fs-l;
    text-transform: uppercase;
    margin-bottom: 15px;
    @media (max-width: $res-mobile) {
      margin-bottom: 10px;
      text-align: center;
    }
  }
  &__item-bar {
    height: 30px;
    background-color: $sc-02;
    margin-bottom: 30px;
    @media (max-width: $res-mobile) {
      height: 25px;
      margin-bottom: 15px;
    }
  } 
  &__item-bar-done {
    height: 100%;
    transition: 1.6s max-width ease; 
    max-width: 0;
    background-color: $c-primary;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    color: $tc-primary;
    font-size: $fs-m;
  }
}
