.testimonials-carousel {
  &__list {
    // max-width: 1060px;
  }
  &__list-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__list-item-quote {
    font-size: $fs-l;
    color: $tc-01;
    text-align: center;
    line-height: 36px;
    margin-bottom: 35px;
  }
  &__list-item-paragraph {

  }
  &__list-item-source {
    font-size: $fs-m;
    text-transform: uppercase;
    color: #556265;
    margin-bottom: 40px;
  }
  &__buttons {
    display: flex;
    justify-content: center;
  }
  &__buttons-button {
    height: 12px;
    width: 12px;
    border: 1px solid $c-primary;
    border-radius: 50%;
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 9px;
    }
    &--active {
      background-color: $c-primary;
    }
    &:focus {
      @include focus;
      border-radius: 50%;
    }
  }
}
