.logo {
  display: flex;
  align-items: center;
  height: 100%;
  &__main {
    background-color: #4a5355;
    color: $c-secondary;
    font-size: $fs-xl;
    height: 42px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
    margin-right: 20px;
  }
  &__extra {
    display: flex;
    align-items: center;
  }
  &__extra-text {
    text-transform: uppercase;
    font-weight: 700;
    color: $c-secondary;
    font-size: $fs-xl;
    &--highlighted {
      color: $c-primary;
    }
  }
}
