.nav {
  &__list {
    display: flex;
  }
  &__list-item {
  }
  &__list-item-link {
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    &:hover {
      color: #2acb72;
    }
  }
}
