.section-education {
  &__inner {
    @include container;
    height: 820px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      display: block;
      background-color: #CBCBCB;
      height: 1px;
      width: 100%;
    }
  }
  &__title {
    color: #556365;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  &__content-wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__info {
    width: 47%;
  }
  &__info-text {
    font-size: 18px;
    color: #909090;
    line-height: 30px;
  }
  &__info-text-paragraph {
    margin-bottom: 30px;
  }
  &__items {
    width: 47%;
  }

}
