* {
  font-family: Roboto, sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

body, html {
  height: 100%; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

.section-home {
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-position: center top; }
  .section-home__inner {
    max-width: 1180px;
    width: 95%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .section-home__title {
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 50px; }
    .section-home__title::before, .section-home__title::after {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background-color: #fff; }
    .section-home__title::before {
      margin-bottom: 2px; }
    .section-home__title::after {
      margin-top: 2px; }
  .section-home__button {
    height: 56px;
    width: 185px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #fff;
    border: 2px solid #fff; }

.section-header {
  margin-top: -70px;
  background-color: #242D2F;
  width: 100%;
  z-index: 999; }
  .section-header--active {
    position: fixed;
    top: 0;
    margin-top: 0; }
  .section-header__inner {
    max-width: 1180px;
    width: 95%;
    margin: 0 auto;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .section-header__logo {
    height: 100%; }
  .section-header__nav {
    width: 66%;
    height: 100%; }

.section-about-items__inner {
  height: 345px;
  max-width: 1180px;
  width: 95%;
  margin: 0 auto; }

.section-about-items__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%; }

.section-about-items__list-item {
  width: 32%; }

.section-about-items__list-title {
  font-size: 30px;
  color: #556365;
  text-transform: uppercase;
  margin-bottom: 35px; }

.section-about-items__list-text {
  font-size: 18px;
  color: #909090;
  line-height: 30px; }

.section-about-block__inner {
  height: 755px;
  display: flex; }

.section-about-block__photo-wrapper {
  width: 38%;
  overflow: hidden;
  position: relative; }

.section-about-block__photo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%; }

.section-about-block__content-wrapper {
  width: 62%;
  background-color: #F1F1F0;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 100px; }

.section-about-block__content {
  width: 80%;
  max-width: 680px; }

.section-about-block__content-title {
  font-size: 30px;
  color: #556365;
  text-transform: uppercase;
  margin-bottom: 40px; }

.section-about-block__content-text {
  font-size: 18px;
  line-height: 30px;
  color: #909090;
  margin-bottom: 40px; }

.section-about-block__content-text-paragraph:not(:last-child) {
  margin-bottom: 30px; }

.section-skills__inner {
  max-width: 1180px;
  width: 95%;
  margin: 0 auto;
  height: 620px;
  display: flex;
  justify-content: center;
  flex-direction: column; }

.section-skills__title {
  color: #556265;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 40px; }

.section-skills__content-wrapper {
  display: flex;
  justify-content: space-between; }

.section-skills__info {
  width: 47%; }

.section-skills__info-text {
  color: #909090;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 40px; }

.section-skills__info-text-paragraph:not(:last-child) {
  margin-bottom: 20px; }

.section-skills__info-button {
  height: 56px;
  width: 185px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #2ACB72;
  font-size: 18px;
  color: #2ACB72;
  font-weight: 700;
  text-transform: uppercase; }

.section-skills__progress {
  width: 47%; }

.section-resume {
  background-color: #F1F1F0; }
  .section-resume::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 20px solid #F1F1F0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
  .section-resume__inner {
    max-width: 1180px;
    width: 95%;
    margin: 0 auto;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .section-resume__title {
    color: #556365;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 40px; }
  .section-resume__text {
    color: #909090;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 40px; }
  .section-resume__button {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    width: 215px;
    color: #2ACB72;
    border: 2px solid #2ACB72; }

.section-education__inner {
  max-width: 1180px;
  width: 95%;
  margin: 0 auto;
  height: 820px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative; }
  .section-education__inner::after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    background-color: #CBCBCB;
    height: 1px;
    width: 100%; }

.section-education__title {
  color: #556365;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 40px; }

.section-education__content-wrapper {
  display: flex;
  justify-content: space-between; }

.section-education__info {
  width: 47%; }

.section-education__info-text {
  font-size: 18px;
  color: #909090;
  line-height: 30px; }

.section-education__info-text-paragraph {
  margin-bottom: 30px; }

.section-education__items {
  width: 47%; }

.section-experience__inner {
  max-width: 1180px;
  width: 95%;
  margin: 0 auto;
  height: 1130px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.section-experience__title {
  color: #556365;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 40px; }

.section-experience__content-wrapper {
  display: flex;
  justify-content: space-between; }

.section-experience__info {
  width: 47%; }

.section-experience__info-text {
  font-size: 18px;
  color: #909090;
  line-height: 30px; }

.section-experience__info-text-paragraph {
  margin-bottom: 30px; }

.section-experience__items {
  width: 47%; }

.section-testimonials {
  background-color: #F1F1F0; }
  .section-testimonials__inner {
    max-width: 1180px;
    width: 95%;
    margin: 0 auto;
    height: 415px;
    display: flex;
    align-items: center;
    justify-content: center; }

.section-portfolio__inner {
  max-width: 1180px;
  width: 95%;
  margin: 0 auto;
  height: 1395px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.section-portfolio__title {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: #556365;
  margin-bottom: 40px; }

.section-portfolio__text {
  color: #909090;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 90px; }

.section-contact {
  background-color: #242D2F; }
  .section-contact__inner {
    max-width: 1180px;
    width: 95%;
    margin: 0 auto;
    height: 905px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .section-contact__title {
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 40px; }
  .section-contact__content-wrapper {
    display: flex;
    justify-content: space-between; }
  .section-contact__info {
    width: 47%; }
  .section-contact__info-text {
    color: #909090;
    font-size: 18px;
    line-height: 30px; }
  .section-contact__info-text-paragraph {
    margin-bottom: 30px; }
  .section-contact__info-text-paragraph-highlighted {
    color: #fff;
    font-weight: 400;
    margin-right: 20px; }
  .section-contact__form {
    width: 47%; }

.section-footer {
  background-color: #181E20; }
  .section-footer__inner {
    max-width: 1180px;
    width: 95%;
    margin: 0 auto;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .section-footer__copyright {
    display: flex;
    color: #4A5355;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .section-footer__copyright-link {
    margin-left: 4px;
    color: #4A5355;
    text-transform: uppercase;
    font-weight: 700; }
    .section-footer__copyright-link:hover {
      text-decoration: underline; }
  .section-footer__list {
    display: flex; }
  .section-footer__list-item:not(:last-child) {
    margin-right: 10px; }
  .section-footer__list-item-link {
    display: block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #4A5355;
    position: relative; }
  .section-footer__list-item-link:hover .section-footer__list-item-link-icon svg {
    fill: #fff; }
  .section-footer__list-item-link-icon {
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .section-footer__list-item-link-icon svg {
      height: 18px;
      fill: #181E20; }

.logo {
  display: flex;
  align-items: center;
  height: 100%; }
  .logo__main {
    background-color: #4a5355;
    color: #fff;
    font-size: 32px;
    height: 42px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
    margin-right: 20px; }
  .logo__extra {
    display: flex;
    align-items: center; }
  .logo__extra-text {
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    font-size: 30px; }
    .logo__extra-text--highlighted {
      color: #2acb72; }

.nav {
  height: 100%; }
  .nav__list {
    height: 100%;
    display: flex; }
  .nav__list-item {
    height: 100%;
    width: 100%; }
  .nav__list-item-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff; }
    .nav__list-item-link:hover {
      color: #2acb72; }

.about-content-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-shrink: 0; }
  .about-content-list__item {
    width: 50%;
    max-width: 320px;
    display: flex;
    margin-bottom: 40px; }
  .about-content-list__item-icon-wrapper {
    margin-right: 30px; }
  .about-content-list__item-title {
    color: #556365;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 10px; }
  .about-content-list__item-text {
    font-size: 18px;
    color: #909090;
    line-height: 30px; }

.skills-progress__item-title {
  color: #556365;
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 15px; }

.skills-progress__item-bar {
  height: 30px;
  background-color: #F1F1F0;
  margin-bottom: 30px; }

.skills-progress__item-bar-done {
  height: 100%;
  transition: 1s max-width ease;
  max-width: 0;
  background-color: #2ACB72;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  color: #fff;
  font-size: 18px; }

.education-items__item:not(:last-child) {
  margin-bottom: 65px; }

.education-items__item-title {
  font-size: 22px;
  color: #556365;
  text-transform: uppercase;
  margin-bottom: 10px; }

.education-items__item-source {
  display: flex;
  margin-bottom: 15px; }

.education-items__item-source-link, .education-items__item-source-separator, .education-items__item-source-date {
  font-size: 18px;
  color: #909090; }

.education-items__item-source-link {
  font-weight: 700; }
  .education-items__item-source-link:hover {
    text-decoration: underline; }

.education-items__item-source-separator {
  margin-left: 6px;
  margin-right: 6px; }

.education-items__item-source-date {
  color: #909090; }

.education-items__item-important {
  height: 30px;
  width: 70px;
  background-color: #2ACB72;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2px;
  margin-bottom: 30px; }

.education-items__item-separator {
  background-color: #CBCBCB;
  height: 1px;
  margin-bottom: 25px; }

.education-items__item-text {
  font-size: 18px;
  line-height: 30px;
  color: #909090; }

.experience-items__item:not(:last-child) {
  margin-bottom: 65px; }

.experience-items__item-title {
  font-size: 22px;
  color: #556365;
  text-transform: uppercase;
  margin-bottom: 10px; }

.experience-items__item-source {
  display: flex;
  margin-bottom: 15px; }

.experience-items__item-source-link, .experience-items__item-source-separator, .experience-items__item-source-date {
  font-size: 18px;
  color: #909090; }

.experience-items__item-source-link {
  font-weight: 700; }
  .experience-items__item-source-link:hover {
    text-decoration: underline; }

.experience-items__item-source-separator {
  margin-left: 6px;
  margin-right: 6px; }

.experience-items__item-source-date {
  color: #909090; }

.experience-items__item-important {
  height: 30px;
  width: 70px;
  background-color: #2ACB72;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2px;
  margin-bottom: 30px; }

.experience-items__item-separator {
  background-color: #CBCBCB;
  height: 1px;
  margin-bottom: 25px; }

.experience-items__item-text {
  font-size: 18px;
  line-height: 30px;
  color: #909090; }

.testimonials-carousel__list {
  max-width: 1060px; }

.testimonials-carousel__list-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.testimonials-carousel__list-item-quote {
  font-size: 24px;
  color: #909090;
  text-align: center;
  line-height: 36px;
  margin-bottom: 35px; }

.testimonials-carousel__list-item-source {
  font-size: 18px;
  text-transform: uppercase;
  color: #556265;
  margin-bottom: 40px; }

.testimonials-carousel__buttons {
  display: flex;
  justify-content: center; }

.testimonials-carousel__buttons-button {
  height: 12px;
  width: 12px;
  border: 1px solid #2ACB72;
  border-radius: 50%;
  cursor: pointer; }
  .testimonials-carousel__buttons-button:not(:last-child) {
    margin-right: 9px; }
  .testimonials-carousel__buttons-button--active {
    background-color: #2ACB72; }

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .portfolio-items__item {
    width: 31%;
    margin-bottom: 40px; }
  .portfolio-items__item-link {
    overflow: hidden;
    display: block;
    position: relative;
    height: 300px; }
  .portfolio-items__item-image {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .portfolio-items__item-overlay {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    z-index: 99;
    transition: .2s all ease;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    background-image: url("../img/portfolio-overlay-icon.png"); }
  .portfolio-items__item-link:hover .portfolio-items__item-overlay {
    background-color: rgba(42, 203, 114, 0.75);
    opacity: 1; }

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .contact-form__form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px; }
    .contact-form__form-group:last-of-type {
      margin-bottom: 40px; }
  .contact-form__form-group-label {
    font-size: 18px;
    color: #fff;
    display: flex;
    margin-bottom: 20px; }
  .contact-form__form-group-label-required {
    margin-left: 3px;
    margin-top: -3px;
    font-size: 18px;
    opacity: .5; }
  .contact-form__form-group-input, .contact-form__form-group-textarea {
    background-color: #4A5355;
    border: 0;
    height: 56px; }
  .contact-form__form-group-textarea {
    height: 279px;
    resize: vertical; }
  .contact-form__button {
    background-color: #181E20;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    height: 56px;
    width: 185px;
    border: 0;
    cursor: pointer; }
