* {
  font-family: Roboto, sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body, html {
  height: 100%; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

.section-hero {
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-position: center top; }
  .section-hero__inner {
    max-width: 1180px;
    width: 95%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .section-hero__title {
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 50px; }
    .section-hero__title::before, .section-hero__title::after {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background-color: #fff; }
    .section-hero__title::before {
      margin-bottom: 2px; }
    .section-hero__title::after {
      margin-top: 2px; }
  .section-hero__button {
    height: 56px;
    width: 185px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #fff;
    border: 2px solid #fff; }

.section-header {
  margin-top: -70px;
  background-color: #242D2F; }
  .section-header__inner {
    max-width: 1180px;
    width: 95%;
    margin: 0 auto;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .section-header__logo {
    height: 100%; }
  .section-header__nav {
    width: 66%;
    height: 100%; }

.section-about-items__inner {
  height: 345px;
  max-width: 1180px;
  width: 95%;
  margin: 0 auto; }

.section-about-items__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%; }

.section-about-items__list-item {
  width: 32%; }

.section-about-items__list-title {
  font-size: 30px;
  color: #556365;
  text-transform: uppercase;
  margin-bottom: 35px; }

.section-about-items__list-text {
  font-size: 18px;
  color: #909090;
  line-height: 30px; }

.section-about-block__inner {
  height: 755px;
  display: flex; }

.section-about-block__photo-wrapper {
  width: 38%;
  overflow: hidden;
  position: relative; }

.section-about-block__photo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%; }

.section-about-block__content-wrapper {
  width: 62%;
  background-color: #F1F1F0;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 100px; }

.section-about-block__content {
  width: 80%;
  max-width: 680px; }

.section-about-block__content-title {
  font-size: 30px;
  color: #556365;
  text-transform: uppercase;
  margin-bottom: 40px; }

.section-about-block__content-text {
  font-size: 18px;
  line-height: 30px;
  color: #909090;
  margin-bottom: 40px; }

.section-about-block__content-text-paragraph:not(:last-child) {
  margin-bottom: 30px; }

.section-skills__inner {
  max-width: 1180px;
  width: 95%;
  margin: 0 auto;
  height: 620px;
  display: flex;
  justify-content: center;
  flex-direction: column; }

.section-skills__title {
  color: #556265;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 40px; }

.section-skills__content-wrapper {
  display: flex;
  justify-content: space-between; }

.section-skills__info {
  width: 47%; }

.section-skills__info-text {
  color: #909090;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 40px; }

.section-skills__info-text-paragraph:not(:last-child) {
  margin-bottom: 20px; }

.section-skills__info-button {
  height: 56px;
  width: 185px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #2ACB72;
  font-size: 18px;
  color: #2ACB72;
  font-weight: 700;
  text-transform: uppercase; }

.section-skills__progress {
  width: 47%; }

.section-resume__inner {
  max-width: 1180px;
  width: 95%;
  margin: 0 auto; }

.section-education__inner {
  max-width: 1180px;
  width: 95%;
  margin: 0 auto; }

.section-experience__inner {
  max-width: 1180px;
  width: 95%;
  margin: 0 auto; }

.section-testimonials__inner {
  max-width: 1180px;
  width: 95%;
  margin: 0 auto; }

.section-portfolio__inner {
  max-width: 1180px;
  width: 95%;
  margin: 0 auto; }

.section-contact__inner {
  max-width: 1180px;
  width: 95%;
  margin: 0 auto; }

.section-footer__inner {
  max-width: 1180px;
  width: 95%;
  margin: 0 auto; }

.logo {
  display: flex;
  align-items: center;
  height: 100%; }
  .logo__main {
    background-color: #4a5355;
    color: #fff;
    font-size: 32px;
    height: 42px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
    margin-right: 20px; }
  .logo__extra {
    display: flex;
    align-items: center; }
  .logo__extra-text {
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    font-size: 30px; }
    .logo__extra-text--highlighted {
      color: #2acb72; }

.nav {
  height: 100%; }
  .nav__list {
    height: 100%;
    display: flex; }
  .nav__list-item {
    height: 100%;
    width: 100%; }
  .nav__list-item-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff; }
    .nav__list-item-link:hover {
      color: #2acb72; }

.about-content-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-shrink: 0; }
  .about-content-list__item {
    width: 50%;
    max-width: 320px;
    display: flex;
    margin-bottom: 40px; }
  .about-content-list__item-icon-wrapper {
    margin-right: 30px; }
  .about-content-list__item-title {
    color: #556365;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 10px; }
  .about-content-list__item-text {
    font-size: 18px;
    color: #909090;
    line-height: 30px; }

.skills-progress__item-title {
  color: #556365;
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 15px; }

.skills-progress__item-bar {
  height: 30px;
  background-color: #F1F1F0;
  margin-bottom: 30px; }

.skills-progress__item-bar-done {
  height: 100%;
  background-color: #2ACB72;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  color: #fff;
  font-size: 18px; }
