.section-about-items {
  background-color: $sc-01;
  &__inner {
    min-height: 305px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: inherit;
    flex-wrap: wrap;
    @media (max-width: $res-tablet) {
      justify-content: center;
    }
  }
  &__list-item {
    width: 32%;
    @media (max-width: $res-tablet) {
      padding: 8px;
      width: 44%;
    }
    @media (max-width: $res-mobile) {
      padding: 8px;
      width: 88%;
    }
  }
  &__list-title {
    font-size: $fs-xl;
    color: $tc-01;
    text-transform: uppercase;
    margin-bottom: 35px;
    @media (max-width: $res-tablet) {
      text-align: center;
      margin-bottom: 15px;
    }
  }
  &__list-text {
    font-size: $fs-m;
    color: $tc-01;
    line-height: 30px;
    @media (max-width: $res-tablet) {
      line-height: 25px;
      text-align: center;
    }
  }
}
