.section-contact {
  background-color: $sc-03;
  overflow: hidden;
  &__inner {
    height: 905px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title {
    color: $tc-primary;
    font-size: $fs-xl;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  &__content-wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__info {
    width: 47%;

  }
  &__info-text {
    color: $tc-02;
    font-size: $fs-m;
    line-height: 30px;
  }
  &__info-text-paragraph {
    margin-bottom: 30px;
    &--pre {
      white-space: pre-line;
    }
  }
  &__info-text-paragraph-highlight {
    margin-right: 20px;
    color: $tc-primary;
  }
  &__info-text-paragraph-link {
    color: $tc-02;
    &:hover {
      text-decoration: underline;
    }
    &:focus {
      @include focus;
    }
  }
  &__form {
    width: 47%;
  }
}
