.section-portfolio {
  background-color: $sc-01;
  overflow: hidden;
  &__inner {
    height: 1395px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title {
    text-align: center;
    font-size: $fs-xl;
    text-transform: uppercase;
    font-weight: 700;
    color: $tc-01;
    margin-bottom: 40px;
  }
  &__text {
    color: $tc-01;
    font-size: $fs-m;
    line-height: 30px;
    text-align: center;
    margin-bottom: 90px;
  }
  &__items {
    
  }
}
