.section-resume {
  background-color: $sc-02;
  &::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 20px solid #F1F1F0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  &__inner {
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__title {
    color: $tc-01;
    font-size: $fs-xl;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  &__text {
    color: $tc-01;
    font-size: $fs-m;
    text-align: center;
    line-height: 30px;
    margin-bottom: 40px;
  }
  &__text-paragraph {

  }
  &__button {
    width: 215px;
  }
}
