.section-skills {
  background-color: $sc-01;
  &__inner {
    height: 620px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  &__title {
    color: #556265;
    font-size: $fs-xl;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  &__content-wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__info {
    width: 47%;
  }
  &__info-text {
    color: $tc-01;
    font-size: $fs-m;
    line-height: 30px;
    margin-bottom: 40px;
  }
  &__info-text-paragraph {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__info-button {
    width: 185px;
  }
  &__progress {
    width: 47%;
  }
}
