.section-testimonials {
  background-color: $sc-02;
  overflow: hidden;
  &__inner {
    min-height: 415px;
    @media (max-width: $res-tablet) {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }
  &__carousel {
    min-height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
